spring:
  application:
    name: api-auth
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  web:
    encoding:
      force-response: true


server:
  port: 3031
  servlet:
    context-path: /auth
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    mbeanregistry:
      enabled: true
  shutdown: graceful
  error:
    whitelabel:
      enabled: false


eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance-id:${random.value}}


jasypt:
  encryptor:
    bean: jasyptEnc
    prefix: ENC(
    suffix: )

decorator:
  datasource:
    p6spy:
      enable-logging: true


management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: b3
      produce: b3_multi
    enabled: true

