<?xml version="1.0" encoding="UTF-8"?>
<included>

    <property name="LOG_DIR" value="/home/ec2-user/drp-api/release/api/logs" />

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/application.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{"yyyy-MM-dd HH:mm:ss", UTC} %-5p [${APPLICATION_NAME},%X{traceId:-},%X{spanId:-}] %c{1}:%L - %X{dd.trace_id} %X{dd.span_id} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/application-error.log</file>
        <encoder>
            <pattern>%date{"yyyy-MM-dd HH:mm:ss", UTC} %-5p [${APPLICATION_NAME},%X{traceId:-},%X{spanId:-}] %c{1}:%L - %X{dd.trace_id} %X{dd.span_id} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/application-error.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>


    <root level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="ROLLING_FILE_ERROR"/>
    </root>
</included>